/docker/nginx/logs/*
/docker/mysql/data/*
/docker/mysql/logs/*
/.idea
/.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.testing
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
