[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# caching_sha2_password to mysql_native_password
default-authentication-plugin = mysql_native_password

# Binary Log
#server-id = 01
#log-bin = /var/log/mysql/mysql-bin.log
#binlog-ignore-db = mysql
#binlog-format = ROW
#expire_logs_days = 7

# Error Log
log-error = /var/log/mysql/mysql-error.log

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# General Log
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

[client]
default-character-set = utf8mb4
